.fart {
    color: #FFFF33;
}

.yo {
    background:#FFFF61;
}

.spotify {
    background: #222326;
}

.box {
    background:#222326;
    color: rgb(126, 187, 108); 
}

body {
    background: #222326;
}

  